<section class="text-gray-600 {{ include.class }} body-font">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium mb-15">
        About me
      </h1>
      <p class="mt-10">
        With extensive experience in multiple programming languages, such as Go, Ruby, and JavaScript, I have contributed to numerous successful projects across various domains. 
        My proficiency with back-end technologies, including REST, gRPC, Kafka (but not limited to this list), allows me to create comprehensive solutions to complex problems, with scaling in mind.
      </p>
      <p class="mt-10">
        To be more specific about the tool set I am used to work with on project, is as follows:
      </p>
      <ul class="mt-3 list-disc list-inside ml-2">
        <li><b>Go (Golang)</b> - as primary programming language for backend systems;</li>
        <li><b>JavaScript</b> - for the Front Ends, mostly as ReactJS or VueJS applications;</li>
        <li><b>Docker</b> - to make sure everything is working on every environment;</li>
        <li><b>REST</b> - to create clear interfaces for different Front Ends;</li>
        <li><b>GRPC</b> - to communicate efficiently between different services within an infrastructure;</li>
        <li><b>Kafka</b> - to send efficiently asynchronous messages and data streams;</li>
        <li><b>Postgres</b> - as relational databases;</li>
        <li><b>MongoBD</b> - as non-relational databases;</li>
        <li><b>Redis</b> - for key-value storage (or KeyDB, when Redis needs more performance and scale);</li>
      </ul>
      <p class="mt-10">
        As a natural problem-solver and creative thinker, I am always eager to learn and explore new ideas. 
        My passion for technology and its impact on businesses drives me to continuously seek innovative solutions and stay up-to-date with the latest trends and best practices in the field.
      </p>
      <p class="mt-10">
        Throughout my career, I have developed a strong reputation as a mentor to other software engineers, helping to guide and inspire teams towards success. 
        I believe that communication and collaboration are key to delivering high-quality products and fostering a positive team culture.
      </p>
  
      <div class="mt-10">
        <a class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Let's talk</a>
      </div>
    </div>
    </section>
  </section>