.post-cover {
  background-size: cover;
  background-position: top center;
  position: relative; }
  .post-cover.overlay:before {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .post-cover, .post-cover .same-height {
    padding: 7em 0; }
  .post-cover .post-entry .post-meta {
    color: #fff;
    font-size: 13px; }
    .post-cover .post-entry .post-meta .author-figure img {
      width: 30px;
      border-radius: 50%; }
  .post-cover .post-entry h2 {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2rem;
    line-height: 1.2;
    color: #fff; }
    @media (min-width: 992px) {
      .post-cover .post-entry h2 {
        font-size: 3rem; } }
    .post-cover .post-entry h2 a {
      color: #fff; }
  .post-cover.single-page h1 {
    font-size: 2rem;
    color: #fff; }
    @media (min-width: 992px) {
      .post-cover.single-page h1 {
        font-size: 5rem; } }
    .post-cover.single-page h1 a {
      color: #fff; }


.share-adj {
  position: relative;
  top: -7pt
}

.share-buttons {
  display: grid;
  position: fixed;
  top: 47%;
  left: 0%;
  background: white;
  padding: 6pt;
  width: 41pt;
}

@media only screen and (max-width: 720px) {
  .share-buttons {
    display: inherit;
    position: fixed;
    top: 94%;
    left: 0%;
    background: white;
    padding-left: 50%;
    width: 100%;
    padding: 6pt 0 6pt 40%;
  }
}
