<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<footer class="bg-theme-darkest">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center p-5">
        <a href="http://linkedin.com/in/cristian-curteanu" class="text-white" target="_blank" rel="noopener noreferrer">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a href="https://twitter.com/CristiCurteanu" class="text-white" target="_blank" rel="noopener noreferrer">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="http://instagram.com/curteanucristian" target="_blank" class="text-white" rel="noopener noreferrer">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="https://github.com/CristianCurteanu" target="_blank" class="text-white" rel="noopener noreferrer">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </div>
    </div>
    <div class="row justify-content-center pb-5">
      <div class="text-center text-white">
        Cristian Curteanu @ {{ site.time | date: "%Y" }}
      </div>
    </div>
  </div>
</footer>

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
