<script src="/js/navbar.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-none position-absolute w-100">
  <div class="container-sm">
    <a class="navbar-brand text-white" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-0 navbar-right justify-content-end">
        {% for pg in site.data.pages %}
          {% if pg.display %}
            <li class="nav-item">
              <a href="{{ pg.path }}" class="nav-link text-white">{{ pg.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
