<p class="{{ include.class | default: "text-dark" }}">
  I am using software engineering to create tools, that eventually helps people solving their problems.
</p>

<p class="{{ include.class | default: "text-dark" }}">
  During this amazing journey, I put my hands on different programming languages, like JavaScript, Ruby and Golang, simply because I believe that there is no perfect tool to solve every problem; instead there are fundamental principles for designing and building software that can not be neglected.
</p>

<p class="{{ include.class | default: "text-dark" }}">
  That is why, I invest a very decent amount of time on learning more about technologies that I've already mastered, to discover other new technologies, like AWS Native technologies and Python stack, that could potentially bring even more value for the next products that I will build, and to share my knowledge and look for the feedback (that is the best way to learn that I know).
</p>

<p class="{{ include.class | default: "text-dark" }}">
  Please consider to write me a line using the form down below, and I would happily respond you back!
</p>
