<p class="{{ include.class | default: "text-dark" }}">
  Hello! My name is Cristian. I am using software engineering to craft tools that helps in solving business problems.
</p>

<p class="{{ include.class | default: "text-dark" }}">
  Our world can no longer rely on classic business models. The digital transformation will continue, and that could scale and make a business grow at a pace never seen before. The question here is how it can be achieved?
</p>

<p class="{{ include.class | default: "text-dark" }}">
  The variety of tools that can be used for a specific business is huge, and as a software engineer, I can help you pick the right one, that will make both performance and system development very cost efficient.
</p>

<p class="{{ include.class | default: "text-dark" }}">
  Please consider to write me a line using the form down below, and I would happily respond you back!
</p>
