<p class="{{ include.class | default: "text-dark" }}">
  Hello! My name is Cristian. I am a software engineer with 6+ years experience of software development, mostly back-end. I am here to help startups grow by leveraging AWS Cloud technologies
</p>
<p class="{{ include.class | default: "text-dark" }}">
  In my experience, I've been working in a full stack environment, microservice architectures and Cloud based applications.
</p>
<p class="{{ include.class | default: "text-dark" }}">
  <b>But why AWS Clouds?</b> There are actually many reasons for that, but the most important are:
  <ul>
    <li class="{{ include.class | default: "text-dark" }}">The reliability and security of Serverless technologies</li>
    <li class="{{ include.class | default: "text-dark" }}">A lot of cheap tools that might solve every business need, without spending too much time on developing the solution</li>
    <li class="{{ include.class | default: "text-dark" }}">Amazing automation toolset, like CDK, that help to configure the cloud environment the way business needs</li>
  </ul>
</p>
<p class="{{ include.class | default: "text-dark" }}">You can consider on taking a look on my stories about AWS Cloud technologies in my blog section.</p>
