---
layout: empty
title: About
permalink: /about
---

<div class="container mb-5 mt-5 pb-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <img src="/public/me.png" alt="Cristian Curteanu, Yet another Software Engineer" class="shadow rounded-circle img-fluid">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 text-center p-5">
      <a href="http://linkedin.com/in/cristian-curteanu" class="text-dark" target="_blank" rel="noopener noreferrer">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
      <a href="https://twitter.com/CristiCurteanu" class="text-dark" target="_blank" rel="noopener noreferrer">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
      <a href="http://instagram.com/curteanucristian" target="_blank" class="text-dark" rel="noopener noreferrer">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a href="https://github.com/CristianCurteanu" target="_blank" class="text-dark" rel="noopener noreferrer">
        <ion-icon name="logo-github"></ion-icon>
      </a>
    </div>
  </div>
  <div class="justify-content-center row">
    <div class="col-md-6 shadow p-5">
      <h2 class="text-dark text-center">
        Hello!
      </h2>
      {% include contents/intro.html class="text-dark" %}
    </div>
  </div>
</div>

<div class="bg-dark" id="contact-form">
  <div class="container">
    {% include partials/contact_form.html %}
  </div>
</div>
