---
layout: default
title: "Hi! I am Cristian Curteanu"
permalink: /
---

<div class="flex flex-col h-screen">
  <div class="bg-gradient-to-r from-indigo-300 via-purple-400 to-indigo-400 flex justify-center items-center flex-grow">
    <section class="text-gray-600 body-font pt-[7vh] pb-[15vh]">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center h-full">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-1/2">
          <img class="object-cover object-center rounded-full" alt="hero" src="/public/me.png">
        </div>
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Hi!
            <br class="hidden lg:inline-block">I am Cristian.
          </h1>
          <p class="mb-8 leading-relaxed text-white">
            As a seasoned software engineer with a proven track record of delivering high-quality products, I have spent the last decade honing my skills and building my knowledge in the industry. 
            My areas of expertise include designing and implementing scalable and fault-tolerant systems, building high-performance applications, and optimizing workflows for efficiency and speed.
          </p>
        
          <div class="flex justify-center">
            <a href="/contacts" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Let's talk</a>
            <a href="/about" class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">About me</a>
          </div>

          <div class="flex justify-center mt-7">
            {% include components/social_media.html class="text-gray-200" %}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- About me section -->
{% include sections/about.html %}

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<!-- Latest Posts section -->
{% include sections/latest_posts.html bg="bg-gray-100" %}

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<!-- Projects section -->
<!-- {% include sections/projects.html bg="" %} -->

<!-- <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700"> -->

<!-- Contact -->
{% include sections/contact_form.html %}

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">