---
title: Home
layout: blank
permalink: /
---

{% include partials/landing-header.html %}

<div class="hero-container overlay">
  <div class="container">
    <div class="message">
      <div class="row justify-content-center">
        <div class="col-lg-5 text-center">
          <h1 class="text-white">Hello! I am Cristian</h1>
          <p class="text-white">
            Let's grow your business in the Clouds
          </p>
          <a href="#customer-problem" class="btn btn-outline-light">
            Start here
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5" id="customer-problem">
  <div class="row justify-content-center">
    <div class="col-md-5 text-center p-5">
      <h2>If you want to...</h2>
    </div>
  </div>
  <div class="row justify-content-lg-evenly">
    <div class="col-md-3">
      <h3 class="pb-4 border-bottom">Build an MVP</h3>
      <p>
        As a startup you need a reliable product fast. Thanks to Cloud technologies, a maintainable MVP can be build in no time, and still leverage security, reliability, and small operational costs.
      </p>
    </div>
    <div class="col-md-3">
      <h3 class="pb-4 border-bottom">Maintain and Extend</h3>
      <p>
        As a startup, there is a constant need to pivot fast to another version of a product. Most of the times, a monolith application, especially poorly designed, will require more time to iterate to another version. On the other hand, if you need to iterate fast on your software features, Cloud technologies can be a good choice
      </p>
    </div>
    <div class="col-md-3">
      <h3 class="pb-4 border-bottom">Automate and Optimize</h3>
      <p>It is always good for a company to have a big part of processes automated, and to have low operational costs. With AWS Cloud technologies, both are real, since there are good tools to make all product processes automated, and leverage on demand billing for your service to operate</p>
    </div>
  </div>
</div>

<div class="bg-dark" id="contact-form">
  <div class="container">
    {% include partials/contact_form.html %}
  </div>
</div>


<div class="bg-theme-darker pb-5">
  <div class="container pb-5">
    <div class="row justify-content-center">
      <div class="col-md-4 p-5 text-center">
        <h2 class="text-white">About me</h2>
      </div>
    </div>
    <div class="row justify-content-lg-end">
      <div class="col-md-6 px-2">
        {% include contents/intro.html class="text-white" %}
        <a href="#contact-form" class="btn btn-outline-light">
          Let's get in touch
        </a>
      </div>
      <div class="col-md-5">
        <img src="/public/me.png" alt="Cristian Curteanu: software engineer" class="rounded-circle img-fluit">
      </div>
    </div>
  </div>
</div>

<div id="blog-posts" class="mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 p-5 text-center">
        <h2 class="text-decoration-underline">Latest articles</h2>
      </div>
      <div class="row justify-content-center pb-4">
        {% for post in site.posts limit:3 %}
        <div class="card col-md-3 mr-1 ml-1">
          <div class="card-body">
            <h5 class="card-title border-bottom pb-4 text-center">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
          </div>
          <div class="card-footer bg-none border-0 text-center">
            {% if post.external_url %}
              <a href="{{ post.external_url }}" target="_blank" class="card-link">Read article</a>
            {% else %}
              <a href="{{ post.url }}" class="card-link">Read article</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-2 text-center">
        <a href="/blog" class="btn btn-outline-primary">See all articles</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-theme-base p-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="text-center">
        <h2 class="text-black-50">Projects</h2>
      </div>
    </div>
  </div>
</div>
