<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include partials/header.html %}
    <div class="post-cover post-cover-sm same-height single-page" style="background-image: url({{ page.cover }})">
      <div class="container">
        <div class="row same-height justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="post-entry text-center">
              <h1 class="text-decoration-underline">
                {{ page.title }}
              </h1>
              <p class="text-light">
                {{ page.date | date: "%m %b %Y" }}
              </p>
              <div class="p-1">
                <a target="_blank" class="text-white" rel="noopener noreferrer" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}{{ post.permalink }}&amp;title={{ page.title }}&amp;summary={{ page.description }}&amp;source=BLOG" title="Share on Linkedin">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
                <a target="_blank" class="text-white" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?url={{site.url}}{{ post.permalink }}&text=&quot;{{ page.title }}&quot; by @{{ site.twitter_username }}&hashtags={{ page.tags | join: "," }}" title="Share on Twitter">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      {% unless page.cover %}
        <header>
          <h1 class="text-decoration-underline">
            {{ page.title }}
          </h1>
          <p>
            {{ page.date | date: "%m %b %Y" }}
          </p>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}{{ post.permalink }}&amp;title={{ page.title }}&amp;summary={{ page.description }}&amp;source=BLOG" title="Share on Linkedin">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?url={{site.url}}{{ post.permalink }}&text=&quot;{{ page.title }}&quot; by @{{ site.twitter_username }}&hashtags={{ page.tags | join: "," }}" title="Share on Twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </div>
        </header>
      {% endunless %}

      <article>
        {{ content }}
        <div class="row p-3 mt-2 mb-5">
          {% for tag in page.tags %}
            <a href="/blog/?tag={{ tag | downcase }}" class="badge badge-pill bg-info w-auto mr-1 mt-1 text-light">{{ tag }}</a>
          {% endfor %}
        </div>
        <div class="row justify-content-end">
          <div class="share-buttons">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}{{ post.permalink }}&amp;title={{ page.title }}&amp;summary={{ page.description }}&amp;source=BLOG" title="Share on Linkedin">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?url={{site.url}}{{ post.permalink }}&text=&quot;{{ page.title }}&quot; by @{{ site.twitter_username }}&hashtags={{ page.tags | join: "," }}" title="Share on Twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </div>
        </div>
      </article>
    </div>
    {% include partials/footer.html %}
    {% include embeds/ga.html %}
  </body>

</html>
