<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include partials/header.html %}

    {% if page.cover %}
      <div style="background-image: url({{ page.cover }})" class="post-cover">
        <div class="container">
          <div class="message">
            <div class="row justify-content-center">
              <div class="col-lg-5 text-center">
                <header>
                  <h1 class="text-decoration-underline">
                    {{ page.title }}
                  </h1>
                  <p>
                    {{ page.date | date: "%m %b %Y" }}
                  </p>
                </header>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="container mt-5 p-5">
      {% unless page.cover %}
        <header>
          <h1 class="text-decoration-underline">
            {{ page.title }}
          </h1>
          <p>
            {{ page.date | date: "%m %b %Y" }}
          </p>
        </header>
      {% endunless %}

      <article>
        {{ content }}
        <div class="row justify-content-end">
          <div class="p-1">
          <div class="badge bg-primary">
            <a target="_blank" class="pb-0 text-white" rel="noopener" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}{{ post.permalink }}&amp;title={{ page.title }}&amp;summary={{ page.description }}&amp;source=BLOG">
              <ion-icon name="logo-linkedin"></ion-icon>
              <span class="position-relative share-adj">Share</span>
            </a>
          </div>
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{ page.title }}" data-url="{{site.url}}{{ post.permalink }}" data-size="large" data-via="CristiCurteanu" data-hashtags="{{ page.tags | join: "," }}" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        </div>
      </article>
    </div>

    {% include partials/footer.html %}
    {% include embeds/ga.html %}
  </body>

</html>
