---
layout: default
---


<br>

<div class="container mt-20">
    <!-- <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium">
        {{ page.title }}
    </h1>
    
    {{ content }} -->
    <div class="mb-4 md:mb-0 w-full max-w-screen-md mx-auto relative" style="height: 24em;">
        <div class="absolute left-0 bottom-0 w-full h-full z-10" style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));"></div>
        <img src="{{ page.cover }}" class="absolute left-0 top-0 w-full h-full z-0 object-cover">
        <div class="p-4 absolute bottom-0 left-0 z-20">
          {% for category in page.categories %}
            <a class="px-4 py-1 bg-black text-gray-200 inline-flex items-center justify-center mb-2" href="/blog/?category={{ category | downcase | replace: " ", "-" }}">{{ category }}</a>

          {% endfor %}
          <h2 class="text-4xl font-semibold text-gray-100 leading-tight">
            {{ page.title }}
          </h2>
          <div class="flex mt-3">
            <img src="/public/me.png" class="h-10 w-10 rounded-full mr-2 object-cover">
            <div>
              <p class="font-semibold text-gray-200 text-sm"> {{ site.title }} </p>
              <p class="font-semibold text-gray-400 text-xs"> {{ page.date | date: "%-d %B %Y" }} </p>
            </div>
          </div>
        </div>
      </div>
    <div class="px-5 lg:px-0 text-xl mt-12 text-gray-700 max-w-screen-md mx-auto text-lg leading-relaxed">
        {{ page.description }}
    </div>
    <div class="px-5 lg:px-0 mt-12 text-gray-700 max-w-screen-md mx-auto text-lg leading-relaxed">
        {{ content }}
    </div>
</div>

<div id="bottom-banner" tabindex="-1" class="fixed bottom-0 left-0 z-50 flex justify-between w-full p-4 border-t border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
    <div class="flex items-center mx-auto">
        <!-- <p class="flex items-center text-sm font-normal text-gray-500 dark:text-gray-400">
            <span class="inline-flex p-1 mr-3 bg-gray-200 rounded-full dark:bg-gray-600">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M5 2a2 2 0 00-2 2v14l3.5-2 3.5 2 3.5-2 3.5 2V4a2 2 0 00-2-2H5zm2.5 3a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6.207.293a1 1 0 00-1.414 0l-6 6a1 1 0 101.414 1.414l6-6a1 1 0 000-1.414zM12.5 10a1.5 1.5 0 100 3 1.5 1.5 0 000-3z"></path>
                </svg>
                <span class="sr-only">Discount coupon</span>
            </span>
            <span>Get 5% commision per sale <a href="https://flowbite.com" class="flex items-center ml-0 text-sm font-medium text-blue-600 md:ml-1 md:inline-flex dark:text-blue-500 hover:underline">Become a partner <svg aria-hidden="true" class="w-4 h-4 ml-1 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillrule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" cliprule="evenodd"></path></svg></a></span>
        </p> -->
        <p class="flex items-center text-sm font-normal text-gray-500 dark:text-gray-400">
            Share this article on
        </p>
        <a class="ml-3 {{ include.class | default: "text-gray-500" }}" rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}{{ post.permalink }}&amp;title={{ page.title }}&amp;summary={{ page.description }}&amp;source=BLOG">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        <a class="ml-3 {{ include.class | default: "text-gray-500" }}" rel="noopener noreferrer" target="_blank" href="https://twitter.com/intent/tweet?url={{site.url}}{{ post.permalink }}&text=&quot;{{ page.title }}&quot; by @{{ site.twitter_username }}&hashtags={{ page.tags | join: "," }}">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
    </div>
    <!-- <div class="flex items-center">
        <button data-dismiss-target="#bottom-banner" type="button" class="flex-shrink-0 inline-flex justify-center items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close banner</span>
        </button>
    </div> -->
</div>